{% extends "base.html" %}
{% block title %}Lifestyle App | Login Page{% endblock %}
<link rel="stylesheet" type="text/css" href="/css/style.css">
{% block content %}
    <h1>LOGIN</h1>
    <form method="POST" action="{{ url_for('auth.login') }}" enctype="multipart/form-data">
        <input type="text" name="username" placeholder="Username" required="required"><br>
        <input type="password" name="password" placeholder="Password" required="required"><br>
        <input type="submit" class="btn btn-primary" value="Login">
    </form>

    <!---->


{% endblock %}